{% extends "base.html" %}

{% block content %}
    <table class = "table">
        <thead class = "table-head">
            <tr class="table-head-tr">
                <th class = "table-th">Nota</th>
                <th class = "table-th">Nome do cliente</th>
                <th class = "table-th">Lançamento</th>
                <th class = "table-th">Data prometida</th>
                <th class = "table-th">Delivery</th>
                <th class = "table-th">Valor</th>
            </tr>
        </thead>
        <tbody class = "table-body">
            <tr><td>...</td></tr>
        </tbody>
    </table>
{% endblock content %}