body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: arial;
    margin: 0px;
}

.nav-ul{
    display: flex;
    flex-grow: 1;
    margin: 0px;
    padding: 0px;
    background: #098CD2;
}

.nav-li{
    list-style-type: none;
    color: white;
    padding: 10px;
}

.nav-li:hover{
    background: #b5dcf1;
    color: #098CD2;
}

.nav-link{
    text-decoration: none;
    color: inherit;
    margin-right: 15px;
}

.table, th, td{
    border-collapse: collapse;
    border: 1px solid;
}